<style>
  .search{
   margin-right:1.5rem;
   display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .search-input{
    border-radius: 1rem;
    height: 2rem;
    padding: 0px 10px;
    

  }
  .search-input:focus{
   border-color: #fe424d;
    box-shadow: none
  }
  .searchbtn{
    background-color: #fe424d;
    color: white;
    border-radius: 1rem;
    height: 2rem;
    padding: 0px 10px;
    
  }
  .searchbtn:hover{
    background-color: #fe424d;
    color: white;
  }
</style>
<nav class="navbar navbar-expand-sm bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
         
          <a class="nav-link" href="/listings">All Listing</a>
         
          
        </div>
        

        <div class="navbar-nav ms-auto">
          <form class="d-flex search" role="search">
            <input class="form-control me-2 search-input" type="search" placeholder="Search" aria-label="Search">
            <button class="btn searchbtn" type="submit">Search</button>
          </form>
          <a class="nav-link" href="/listings/add">Add listing</a>

          <% if(! currentUser) {%>
          <a class="nav-link" href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Login</b></a>
          <% } else { %>
          <a class="nav-link" href="/logout"><b>Logout</b></a>
          <% } %>
      </div>
    </div>
  </nav>