<% layout("/layout/boilerplate") -%>
<body>
    <div class="row col-6 offset-3 " style="height: 100vh;">
        <h1>Login on wonderlust</h1>
        <div>
            <form action="/login" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">username</label>
                    <input type="text" name="username" id="username" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" id="password" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    

</body>